/*
* Character styling
**/

body{
    font-family: 'Playfair Display', serif;
    font-size: 18px;
}

a{
    font-family: 'Muli', serif;
    font-size: 18px;
}

input{
    font-family: 'Muli', serif;
}

h4{
    font-family: 'Muli', serif;
    font-size: 24px;
}

.subheading{
    font-family: 'Muli', serif;
    font-size: 24px;
}


/*
* Navbar stuff
**/
.navbar {
    background-color: #FF7F66;
    border: 0;
    border-radius: 0;
    max-height: 65px;
}

.navbar-search{
    margin: auto;
    width: 600px !important;
}

.navbar-search input{
    height: 45px;
}

.navbar-right a{
    position: absolute;
    top: 25%;
    color: white
}


/*
* Footer stuff
**/

.footer{
    width: 100%;
    text-align: center;
    background-color: #FF7F66;
}

.footer li{
    float: none;
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
}


.footer a{
    color: white;
}

.welcome {
    width: 100%;
    height: 1000px;
    margin-top: -20px;
    vertical-align:middle;
    background: url('../img/bridge.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-radius: 0 !important;
}

.welcome-button{
    width: 10%;
    margin-top: 400px;
    background-color: #FF7F66;
    color: white;
    border: 0;
}

.features{
    max-width: 400px;
    margin: 0 auto;
}

.how-it-works{
    height: 800px;
    background-color: #7ecefd;
}

