/*
* Character styling
**/


body{
    font-size: 18px;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    background-color: #FFF6E5;
}

a{
    font-family: 'Muli', serif;
    font-size: 18px;
    font-weight: 300;
}

input{
    font-family: 'Muli', serif;
    font-weight: 400;

}

h4{
    font-family: 'Muli', serif;
    font-size: 24px;
    font-weight: 400;
}


.btn-default{
    background-color: #FF7F66;
    color: white;
}

.subheading{
    font-family: 'Muli', serif;
    font-size: 22px;
    font-weight: 300;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}


.modal {
    text-align: center;
}


/*
* Navbar stuff
**/

.navbar {
    background-color: #FF7F66;
    border: 0;
    border-radius: 0;
    max-height: 65px;
}

.navbar-search{
    margin: auto;
    width: 600px !important;
}

.navbar-search input{
    height: 45px;
}

.navbar-right *{
    height: 60px;
}

.navbar-default .navbar-nav>li>a{
    color: white;
}

.navbar-right li a{
    padding-top: 20px;
    padding-bottom: 20px;
}



/*
* Footer stuff
**/

.footer{
    width: 100%;
    text-align: center;
    background-color: #FF7F66;
}

.footer li{
    float: none;
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
}

.footer a{
    color: white;
}


.welcome {
    width: 100%;
    height: 800px;
    margin-top: -20px;
    background: url('../img/bridge.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-radius: 0 !important;
}

.welcome-button{
    width: 10%;
    margin-top: 350px;
    border: 0;
}

.features {
    margin-top: 80px;
    margin-bottom: 80px;
}

.features h4{
    color: #FF7F66;
    text-align: center;
}



.comment-toggle{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 48%;
}

.blog {
    margin-top: -20px;
    background: url('../img/blog.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-radius: 0 !important;
}

.post{
    padding: 30px 100px;
    margin: 40px 0;
    border-radius: 35px;
    background-color: #FFF6E5;
}

.post .date{
    color: #FF7F66;
    margin-bottom: 20px;
}

.post:first-child .send-message{
    display: block;
}


.post .send-message{
    display: none;
}

.post textarea{
    resize: none;
    font-size: 18px;
    margin-top: 20px;
    border: solid;
    border-width: 2px;
    border-color: #2185C5;
    border-radius: 10px;
}

.message{
    position: relative;
    width: 48%;
    padding: 10px;
    margin-bottom: 10px;
    left: 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    clear: both;
    background-color: white;
    min-height: 50px;

}

.message div{
    overflow: auto;
}


.message .time{
    font-size: 14px;
    float: right;
}

.comment{
    border: solid;
    border-width: 2px;
    border-color: #2185C5;
}

.comment:after
{
    position: absolute;
    content: '';
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #2185C5;
    display: block;
    width: 0;
    z-index: 1;
    left: -10px;
    bottom: 15px;
}

.user-message{
    margin-left: auto;
    margin-right: 0;
    border: solid;
    border-width: 2px;
    border-color: #FF7F66;
}

.user-message:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 10px 0 10px 10px;
    border-color: transparent #FF7F66;
    display: block;
    width: 0;
    z-index: 1;
    right: -10px;
    bottom: 15px;
}

.comment .username{
    font-size: 14px;
    text-decoration: underline;
}


































