/*
* Character styling
**/
body{
    font-size: 18px;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    background-color: white;
}

a{
    font-family: 'Muli', serif;
    font-size: 18px;
    font-weight: 300;
}

input{
    font-family: 'Muli', serif;
    font-weight: 400;

}

h3{
    font-family: 'Muli', serif;
    font-size: 18px;
    font-weight: 400;
}


h4{
    font-family: 'Muli', serif;
    font-size: 24px;
    font-weight: 400;
}


.btn-default{
    background-color: #FF7F66;
    color: white;
}

.subheading{
    font-family: 'Muli', serif;
    font-size: 22px;
    font-weight: 300;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}


.modal {
    text-align: center;
}


/*
* Navbar stuff
**/

.navbar {
    position: relative;
    background-color: #FF7F66;
    border: 0;
    border-radius: 0;
    max-height: 65px;
    color: white;
}

.navbar-default .navbar-brand{
    color: white;
}

.navbar-form .form-control{
    position: absolute;
    width: 25%;
}

.navbar-default .navbar-nav>li>a{
    color: white;
}

/*
* Footer stuff
**/

.footer{
    width: 100%;
    text-align: center;
    background-color: #FF7F66;
}

.footer li{
    float: none;
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
}

.footer a{
    color: white;
}


.welcome {
    width: 100%;
    height: 800px;
    margin-top: -20px;
    background: url('../img/bridge.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-radius: 0 !important;
}

/**
* Homepage stuff
**/
.welcome-button{
    padding: 10px 40px;
    margin-top: 350px;
    border: 0;
}

.features {
    margin-top: 80px;
    margin-bottom: 80px;
}

.features h4{
    color: #FF7F66;
    text-align: center;
}

/**
* Blog related stuff
**/
.post{
    width: 100%;

}


.post > .date{
    margin: 25px 0px;
    display: inline-block;
    float: left;
    clear: both;

}

.post .send-message{
    position: relative;
    float: left;
    clear: both;
    width: 100%;
}

.message{
    position: relative;
    display: inline-block;
    min-height: 50px;
    max-width: 60%;
    padding: 10px;
    margin-bottom: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    clear: both;
    background-color: white;
}

.message:after
{
    content: '';
    position: absolute;
    border-style: solid;
    display: block;
    z-index: 1;
    bottom: 15px;
}

.message div{
    overflow: auto;
}

.message .time{
    font-size: 14px;
    float: right;
}

.message img{
    width: 25px;
    height: 25px;
    margin: 2px;
}

.user-message{
    float: right;
    border: solid;
    border-width: 2px;
    border-color: #FF7F66;
}

.user-message:after {
    border-width: 10px 0 10px 10px;
    border-color: transparent #FF7F66;
    float: right;
    left: 100%;
}

.comment-toggle{
    float: left;
    clear:both;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 50%;
    text-align: center;
}

.comment{
    float: left;
    border: solid;
    border-width: 2px;
    border-color: #2185C5;
}

.comment:after{
    border-width: 10px 10px 10px 0;
    border-color: transparent #2185C5;
    float: left;
    right: 100%;
}

.comment .username{
    font-size: 14px;
    text-decoration: underline;
}


































